{% extends "base.html" %}
{% load static %}
{% block title %}500 | Ошибка сервера{% endblock %}
{% block content %}
<div class="container-error-500">
    <!-- Декоративные элементы -->
    <div class="error-decoration"></div>
    <div class="error-decoration"></div>
    <!-- Иконка ошибки -->
    <div class="error-icon">
        <i class="fas fa-exclamation-triangle"></i>
    </div>
    <!-- Заголовок -->
    <h1 class="error-500-title">Ошибка сервера</h1>
    <!-- Описание -->
    <p class="error-500-description">На сервере что-то пошло не так! Мы уже работаем над исправлением этой проблемы.</p>
    <!-- Номер ошибки -->
    <h2 class="error-number">500</h2>
    <!-- Дополнительное описание -->
    <p class="error-500-description">Приносим извинения за неудобства. Пожалуйста, попробуйте вернуться позже.</p>
    <!-- Кнопки -->
    <div class="buttons-container">
        <a class="back-link" href="javascript:history.back()">
            <span class="back-word">← Вернуться назад</span>
        </a>
        <a class="back-main" href="{% url 'index:index' %}">
            <span class="back-word">На главную страницу</span>
        </a>
    </div>
</div>
{% endblock %}