<footer id="contact">
    <div class="container">
        <div class="footer-content">
            <div>
                <div class="footer-logo">Репетитор по русскому языку онлайн</div>
                <p class="footer-description">
                    Системные занятия помогут не просто «подтянуть» русский язык,
                    а выстроить для ученика чёткую и понятную систему знаний, которая
                    устранит пробелы и заложит прочный фундамент для высоких баллов на ОГЭ/ЕГЭ.
                </p>
            </div>
            <div>
                <h4 class="footer-title">Контакты</h4>
                <ul class="footer-links">
                    <li><a href="mailto:hello@russian-warm.ru">Telegram</a></li>
                    <li><a href="tel:+79991234567">Max</a></li>
                    <li><a href="tel:+79991234567">VK</a></li>
                    <li><a href="tel:+79991234567">PROFI.RU</a></li>
                </ul>
            </div>
            <div>
                <h4 class="footer-title">Навигация</h4>
                <ul class="footer-links">
                    <li><a href="{% url 'index:index' %}#about">Обо мне</a></li>
                    <li><a href="{% url 'blog:posts' %}">Блог</a></li>
                    <li><a href="{% url 'index:index' %}#reviews">Отзывы</a></li>
                    <li><a href="{% url 'index:index' %}#contact">Записаться на урок</a></li>
                    <li><a href="{% url 'index:index' %}#contact">Политика конфиденциальности</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>ИНН: 482417981070</p>
            <p>г. Липецк, ул. Неделина, д. 41</p>
            <br>
            <p>&copy; 2026 Репетитор по русскому языку онлайн.</p>
        </div>
        <div class="footer-decoration"></div>
    </div>
</footer>